/* Direction Nav */
.flexslider { 
	margin-bottom: 30px; 
	border-color:#9c7924; 
	-webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
.flexslider .slides > li { position: relative; }
.flexslider .slides li,
.flex-direction-nav li { margin-bottom: 0; margin-top: 0;}
.flex-direction-nav a:before  { 
	font-family:'fontello'; 
	content: '\e808';
	line-height: 40px;
	color:#ffffff; 
}
.flex-direction-nav a.flex-next:before  { content: '\e807'; }
.flex-caption {
	width:100%;
	padding:2%;
	position:absolute;
	left:0;
	bottom:0;
	background:rgba(191,153,88,0.9);
	color:#fff;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
	font-size:14px;
	line-height:18px; 
	margin-bottom:0!important;
}
