/*==================================*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
}


/* ---------------------------------------------------------------
 * STRUCTURE : Layout style
 * ------------------------------------------------------------ */  
.wrapper {
  height: 100%;
}

.branding {
  /*background: url(../images/dark-gold-10.png);
  padding: 10px;*/
  background:#ffffff;
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
        
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
        
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  border:10px solid rgba(191, 153, 88, 0.5);
  -webkit-box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
  -moz-box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
  box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
}
.branding h1, .branding h2 { margin: 0; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.main{
  margin: 20px 0;
  padding: 20px 40px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  border-top:5px solid #9c7924;
  border-bottom:5px solid #9c7924;
  text-align: center;
}

.copyright { 
  font-size: 12px;
  margin-top: 20px;
  margin-left: 10px;
}

/* ---------------------------------------------------------------
 * Main navigation
 * ------------------------------------------------------------ */
.primary-menu-container { 
  margin: 30px 0 30px 10px;
}
ul.primary-nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 100%;
  text-align: left;
  z-index: 9;
}

ul.primary-nav li {
  position: relative;
  margin: 0;
  padding: 3px 0;
}

ul.primary-nav li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding-left: 29px;
  margin: 3px 0;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  text-transform: uppercase;
}

/* Icons menu items */
ul.primary-nav li > a {
  background: url(../images/icons-menu.png) no-repeat;
}
ul.primary-nav li.nav-stay > a { background-position: 0 -48px; }
ul.primary-nav li.nav-facilities > a { background-position: 0 -96px; }
ul.primary-nav li.nav-gallery > a { background-position: 0 -144px; }
ul.primary-nav li.nav-contact > a { background-position: 0 -192px; }

/* End icons menu */

ul.primary-nav li ul {
  overflow: hidden;
  margin-left: 30px;
  padding: 0;
  list-style: none;
  height: 0;
}

ul.primary-nav li ul li {
  width: 100%;
  border: none;
  border-bottom: 1px solid #f2e0b8;
  padding: 3px 0;
}

ul.primary-nav li ul li a {
  display: block;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  color:#be9c62;
  background: none;
}

/* active and hover */
ul.primary-nav li a:hover,
ul.primary-nav li.active > a {
  color:#6e4636; 
}

ul.primary-nav .nav-hotel.active > a,
ul.primary-nav .nav-hotel > a:hover { background-position: 0 -24px; }
ul.primary-nav .nav-stay.active > a,
ul.primary-nav .nav-stay > a:hover { background-position: 0 -72px; }
ul.primary-nav .nav-facilities.active > a,
ul.primary-nav .nav-facilities > a:hover { background-position: 0 -120px; }
ul.primary-nav .nav-gallery.active > a,
ul.primary-nav .nav-gallery > a:hover { background-position: 0 -168px; }
ul.primary-nav .nav-contact.active > a,
ul.primary-nav .nav-contact > a:hover { background-position: 0 -216px; }

/* ---------------------------------------------------------------
 * Post Entry
 * ------------------------------------------------------------ */

/*  single : post pages */
 .entry-header {
  padding-bottom: 15px;
 }
 .entry-title { 
  font-size: 22px; 
  line-height: 26px;
  text-transform: uppercase;
  color:#9c7924;
}
  .single .entry-title { font-size: 24px; }

 .entry-meta {
  font-size: 11px;
  color:#999999;
 }

 /* Post Slider */
 .post-slider { margin-bottom: 50px; }

/* ---------------------------------------------------------------
 * Sidebar Menu
 * ------------------------------------------------------------ */
#side-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 210px;
  z-index: 1;
}
.mobile-menu-trigger:before {
  font-family: "fontello";
  content: '\e812';
  text-align: center;
  display: inline-block;
}
.mobile-menu-trigger.active:before {
  content: '\e813';
  font-size: 46px;
}
.mobile-menu-trigger {
  position: fixed;
  top: 20px;
  z-index: 3;
  text-align: center;
  padding: 5px;
  background: #9c7924;
  background: rgba(156, 121, 36, 0.9);
  font-size: 36px;
  width: 45px;
  height: 45px;
  line-height: 36px;
  cursor: pointer; 
  color:#ffffff;
}
  .mobile-menu-trigger.left { left: 20px; }
  .mobile-menu-trigger.right { right: 20px; }
  .mobile-menu-trigger.hover { color: #333333; }

#sidemenu-container {
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 100;
  width: 250px;
  height: 100%;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  float: left;
  -webkit-box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.4);
}
  #sidemenu-container.active {
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
      -webkit-overflow-scrolling: touch; 

  }

/* Animation Durations and easings */
.csstransitions #sidemenu-container,
.csstransitions #side-logo,
.csstransitions ul.primary-nav li ul{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.csstransforms #side-logo.active{
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

/* No Animations Enabled */
.no-csstransforms #content-container {
  left: 0; }
  .no-csstransforms #content-container.active {
    left: 260px; } 

/* ---------------------------------------------------------------
 * Contact us
 * ------------------------------------------------------------ */

/* Contact with Google map info box */
#map-container{
  width: 100%;
  height: 100%;
}
.map-inner{
  position: relative;
  height: inherit;
}
#map-info{
  width: 350px;
  padding: 10px;
}

#map-info h3 {
  text-transform: uppercase;
}

#map-info span{ display: block; }
#map-info span.icon-location,
#map-info span.icon-calendar { display: inline-block; }

#map-info .directions-container{
  border-top: 1px solid #E7E7E7;
  padding-top: 10px;
  margin-top: 10px;
}
#map-info .directions-container .button { margin-right: 20px; padding: 3px 15px; }


/* Reset Google map image style */
.gm-style img { max-width: none; }

.gm-style label { width: auto; display:inline; } 

/* ---------------------------------------------------------------
 * UI Elements
 * ------------------------------------------------------------ */

/* Button and learn more */
a.learn-more {
  font-size: 11px;
  display: inline-block;
  padding: 3px 20px;
  text-transform: uppercase;
}
a.learn-more:after { 
  content: '\e762'; 
  font-family:'fontello'; 
  margin-left: 5px;
}
a.learn-more:hover { color: #1c1c1c; }

a.btn {
  font-size: 12px;
  display: inline-block;
  border:2px solid #ae8728;
  padding: 3px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
a.btn:after { 
  content: '\e80b'; 
  font-family:'fontello'; 
  margin-left: 5px;
}
a.btn:hover {
  background: #9c7924;
  color: #ffffff;
  text-decoration: none;
}

a.background {
  background: #9c7924;
  color: #ffffff;
}

a.background:hover {
  background: #ffffff;
  color: #9c7924;
}

/*  Sub navigation post type
/* ------------------------------------ */
ul.sub-nav { 
  list-style: none;
  margin: 10px 0 30px;
  text-align: center;
}
ul.sub-nav li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 16px;
  color:#919191;
}
ul.sub-nav li a { color:#4a4a4a; }
ul.sub-nav li a:hover,
ul.sub-nav li.current_page_item { 
  border-bottom: 1px solid #9c7924;
  color: #9c7924;
}

/*  single : sharrre
/* ------------------------------------ */
.sharrre-container { padding: 10px; border-top: 1px solid #c7c7c7; margin-top: 40px; text-align: center; }
.sharrre-container span { color: #aaa; display: block; text-transform: uppercase; font-size: 11px; margin-bottom: 10px; }
.sharrre { display: inline-block; }
.sharrre .box { width: 80px; display: block; }
.sharrre .count { background: #ffffff; color: #333; display: block; font-size: 15px; font-weight: 600; line-height: 30px; position: relative; text-align: center; 
-webkit-border-radius: 4px; border-radius: 4px; }
.sharrre .count:after { content:''; display: block; position: absolute; left: 49%; width: 0; height: 0; border: solid 6px transparent; border-top-color: #eee; margin-left: -6px; bottom: -12px; }
.sharrre .share { display: block; font-size: 28px; font-weight: 600; line-height: 32px; margin-top: 12px; padding: 0; text-align: center; text-decoration: none; }
.sharrre .box .share,
.sharrre .box .count { -webkit-transition: all .3s ease; transition: all .3s ease; }
.sharrre .box:hover .share,
.sharrre .box:hover .count { color: #444!important; }
.sharrre#twitter .share,
.sharrre#twitter .box .count { color: #00acee; }
.sharrre#facebook .share,
.sharrre#facebook .box .count { color: #3b5999; }
.sharrre#googleplus .share,
.sharrre#googleplus .box .count { color: #cd483c; }
.sharrre#pinterest .share,
.sharrre#pinterest .box .count { color: #ca2128; }

/* Promotion Slide */
.promo-box {
  background:#bf9958;
  background: rgba(191, 153, 88, 0.8);
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
        
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
        
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  border:10px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
  -moz-box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
  box-shadow: 0 1px 3px 1px rgba(156, 122, 37, 0.2);
  color: #ffffff;
  width: 350px;
  height: 250px;
  position: absolute;
  top: 50%;
  right: 150px;
  margin-top: -125px;
}
.promo-box .inner-box { padding: 10px; text-align: center; margin-top: 20px;}
.promo-box h1,
.promo-box h2,
.promo-box h3,
.promo-box h4,
.promo-box h5{ font-size: 24px; color:#ffffff; }
.promo-box a.button { 
  color:#ffffff; 
  border-color:#ffffff;
}
.promo-box a.button:hover { 
  color:#9c7924; 
  background:#ffffff;
}
/* Social Icons */
.icons-social { 
  margin-left: 10px;
  margin-bottom: 30px; 
}

/* Quick contact */
.quick-contact { margin-left: 10px; }
.quick-contact ul{
  margin-left: 0;
  padding:0;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  color:#1c1c1c;
}
.quick-contact ul li { margin: 3px 0; }

/* Thumbnail Icon */
.thumb-icon {
  position: relative;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
.thumb-icon .bg-mask {
  position: absolute;
  top: 0;
  opacity: 0;
  background:rgba(0, 0, 0, 0.7);
  -moz-transition: opacity 0.3s ease-in-out 0s;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
  width: 100%;
  height: 100%;
}
.thumb-icon .bg-mask:hover{
  opacity: 1;
}
.thumb-icon a {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 24px;
  height: 48px;
  width: 48px;
  margin-left: -24px;
  margin-top: -24px;
  line-height: 48px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  -moz-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.thumb-icon:hover a {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.thumb-icon + h5 { margin: 10px 0 5px;}

/* Amenities */
ul.amenities {   
  list-style: none;  
  text-align: center;  
  margin:5px 0 40px;  
  padding: 0;
}
ul.amenities li { 
  display: inline-block;
  margin: 3px 15px;
  font-size: 13px;
}
ul.amenities li:before { margin-right: 5px; }
.bed:before {
  content:url(../images/icon-bed.png);
}
.laundry:before { content:url(../images/icon-laundry.png); }
.safe-deposit:before {  content:url(../images/icon-safe-deposit.png); }
.wifi:before {  content:url(../images/icon-wifi.png);  }
.tv:before { content:url(../images/icon-tv.png); }
.brackfast:before {   content:url(../images/icon-coffee.png);   }
.parking:before {   content:url(../images/icon-car.png);   }
.pool:before {  content:url(../images/icon-poolswimming.png);   }
.smoking:before {  content:url(../images/icon-smoking.png);   }
.air-conditioner:before {   content:url(../images/icon-airconditioner.png);   }

/* button */
.button {
  font-size: 12px;
  display: inline-block;
  border:2px solid #9c7924;
  padding: 3px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.button:hover {
  background: #9c7924;
  color: #ffffff;
  text-decoration: none;
}

.thumb-container article,
.gallery article { margin-bottom: 3%; }
.thumb-container p { font-size: 13px; }
.thumb-container .two-fourth:nth-child(2n+2),
.thumb-container .one-third:nth-child(3n+3),
.thumb-container .one-fourth:nth-child(4n+4) { margin-right: 0; }

/* Testimonials */
.testimonial { margin-bottom: 30px; }

.testimonial blockquote {
  background:#F7F7F7;
  border-radius:1px solid #EEE;
  padding:19px 25px;
  font-style:italic;
  font-size:15px;
  font-family:Georgia, serif;
  line-height:24px;
  font-weight:normal;
}
.testimonial figcaption {
  margin:12px 0 0 62px;
}
.testimonial figcaption p {
  font-weight:bold;
  font-size:13px;
  margin:0 0 -2px 0;
}
.testimonial figcaption span {
  font-size:11px;
  display: block;
}
.testimonial blockquote {
  position: relative;
  background: #F7F7F7;
  border: 1px solid #EEE;
}
.testimonial blockquote:after, .testimonial blockquote:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right:none;
}
.testimonial blockquote:after {
  border-color: rgba(247, 247, 247, 0);
  border-top-color: #F7F7F7;
  border-width: 22px;
  left: 45%;
  margin-left: 25px;
}
.testimonial blockquote:before {
  border-color: rgba(239, 239, 239, 0);
  border-top-color: #EEE;
  border-width: 24px;
  left: 45%;
  margin-left: 24px;
}

.testimonial.dark blockquote {
  background:#3B3B3B;
  border-color:#3B3B3B;
  color:#FFF;
  font-size:20px;
  line-height:28px;
}
.testimonial.dark blockquote:after, .testimonial.dark blockquote:before {
  border-color:rgba(51,51,51,0);
  border-top-color:#3B3B3B;
}

/* Contact form 7 */
.wpcf7-form-inner label { 
  text-align: left;
  font-size: 13px; 
}
.wpcf7-form-inner select,
.wpcf7-form-inner textarea,
.wpcf7-form-inner input[type="submit"] {
  width: 100%;
}
span.wpcf7-not-valid-tip {
  font-size: 11px;
}
.wpcf7-validation-errors {
  font-size: 12px;
  text-align: center;
}

#booking-form h3{ color: #ae8728; }

/* ---------------------------------------------------------------
 * FORM
 * ------------------------------------------------------------ */
input, textarea, button, select, label { font-family: inherit; }
input,
textarea,
button,
select,
label { font-size: 13px; }

input::-moz-focus-inner, 
button::-moz-focus-inner { 
  border: 0; 
  padding: 0; 
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
button, 
textarea { 
  margin: 0; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  -webkit-border-radius: 0; 
  border-radius: 0; 
}

input, 
textarea, 
button { 
  -moz-appearance: none; 
  -webkit-appearance: none; 
  -moz-transition: all .2s ease; 
  -webkit-transition: all .2s ease; 
  transition: all .2s ease; 
}

input[type="checkbox"] { 
  -moz-appearance: checkbox; 
  -webkit-appearance: checkbox; 
}

input[type="radio"] { 
  -moz-appearance: radio; 
  -webkit-appearance: radio; 
}

label { 
  color: #444; 
}

input[type="text"],
input[type="tel"], 
input[type="date"], 
input[type="password"], 
input[type="email"],
select, 
textarea { 
  background:#F7F7F7;
  border:1px solid #E9E9E9;
  padding: 0.7em 1em;
  color:#ACACAC;
  display: block; 
  max-width: 100%; 
  outline: none; 
} 

input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="date"]:focus,
input[type="password"]:focus, 
input[type="email"]:focus,
select:focus, 
textarea:focus { 
  border-color: #ae8728; 
  color: #444; 
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1); 
  box-shadow: 0 0 3px rgba(0,0,0,0.1); 
}

label .required { color: #3b8dbd; }

input[type="submit"],
button[type="submit"] { 
  font-size: 12px;
  display: inline-block;
  border:2px solid #ae8728;
  background: #ffffff;
  padding: 3px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; 
}

input[type="submit"]:hover,
button[type="submit"]:hover { 
  background: #9c7924;
  color: #ffffff;
  text-decoration: none;
}

select::-ms-expand {
    display: none; /* hide default arrow in IE10 */
}

select {
  padding-right: 2em;
  text-indent: 0.01px;
  text-overflow: "";
  background: url('../images/dropdown-arrow.png') no-repeat 100% 9px #F7F7F7;
  *background-image:none; /* turn bg image for IE7 */
  background: url('../images/dropdown-arrow.png') no-repeat 100% 9px #F7F7F7; /* fallback bg image*/
  -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
  -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  appearance: none;
}
/* Targeting Firefox Users Only */
@-moz-document url-prefix() {
select {
  padding-bottom: 0.01px;
  background: url('../images/dropdown-arrow.png') no-repeat 100% 10px #F7F7F7;
}
}
select option {
  background: #fff; /* style the dropdown bg color */
  padding-top: 5px;
  padding-bottom: 5px;
}

/* -------------------------------------------------- */
/*  PAGINATION
/* -------------------------------------------------- */

.pagination { 
  margin: 0;
  margin-top: 20px; 
  text-align:center; 
}

.comments-pagination {
    margin-bottom: 30px;
    margin-top: -20px;
}

    .pagination a, .pagination span {
        border: 1px solid transparent;
        color: #9c9c9c;
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 2px 8px 4px;
    }
  .pagination li{
    list-style:none;
    border: 1px solid transparent;
        color: #9c9c9c;
        display: inline-block;
        margin: 0 5px 0 0;
    }
  .pagination li, .pagination a,
  .pagination .current{
    padding: 2px 7px 4px;
    border-radius: 3px;
  }

    .comments-pagination a, .comments-pagination span {
        margin-right: 5px;
        padding-bottom: 3px;
    }

    .ie7 .pagination li, .ie7 .pagination span { display: inline; }

    .pagination .current {
        background: #9c7924;
        color: #ffffff;
    }

    .comments-pagination .current { padding-bottom: 3px; }

        .pagination a:hover, .comments-pagination a:hover {
            border-color: #9c7924;
            color: #9c7924;
        }

    .pagination .next, .pagination .prev { border: none; }

/* ---------------------------------------------------------------
 * COLUMNS : Grids layout
 * ------------------------------------------------------------ */  
.one-fourth, .one-third, .two-third, .two-fourth, .three-fourth {
  position: relative;
  margin-right: 3%;
  float: left;
  /*overflow:hidden;*/
}
/* one_fourth */
.one-fourth{
  width: 22.75%;
}
/* one_third */
.one-third {
    width: 31.33%;
}
/* two_third */
.two-third {
    width: 65.66%;
}
/* two_fourth */
.two-fourth {
    width: 48.5%;
}
/* three_fourth */
.three-fourth {
    width: 74.25%;
}
.last {
  margin-right: 0 !important;
  clear: right;
}

/* ---------------------------------------------------------------
 * Clear Floated Elements
 * ------------------------------------------------------------ */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }